
<div *ngIf="products.length===0">
  No Products
</div>

<div class="card" *ngIf="products.length!==0">
  <div class="card-header">Product List</div>
  <div class="card-body">

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>Name</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <!-- <td>{{product.id}}</td> -->
          <td><a [routerLink]="['view',product.id]">{{product.name}}</a></td>
          <td>{{product.price|currency:'INR'}}</td>
          <td><a [routerLink]="['edit',product.id]"><i class="fa fa-edit"></i></a></td>
          <td><a (click)="delete(product.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<hr/>
<router-outlet name="primary"></router-outlet>